.about {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  color: #fff; 
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.aboutTop {
  width: 100%;
  height: 45%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 0 20px; 
}

.aboutBottom p {
  max-width: 1200px;
  text-align: center;
  line-height: 1.8;
  color: #ccc; 
  margin-bottom: 20px;
}

.about .aboutBottom h1 {
  font-weight: 700;
  font-size: 70px;
  color: #FFD700; 
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .about .aboutBottom h1 {
    font-size: 50px;
  }

  .aboutBottom p {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .about .aboutBottom h1 {
    font-size: 35px;
  }

  .aboutBottom p {
    font-size: 14px;
  }
}
