.Login {
  width: 100%;
  min-height: 90vh;
  display: flex;
  background-color: #000000; 
  color: #fff; 
}

.Login .leftSide {
  flex: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

.Login .rightSide {
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.Login .rightSide h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 20px;
  color: #FFD700; 
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

form input,
form textarea {
  height: 40px;
  width: 100%;
  background-color: #1a1a1a;
  border: none;
  border-bottom: 1px solid #181818;
  color: #fff;
  margin-bottom: 20px;
  padding: 5px;
}

form textarea {
  height: 70px;
}

input::placeholder,
textarea::placeholder {
  font-weight: bold;
  color: #aaa;
  font-family: Arial, Helvetica, sans-serif;
}

form input:focus,
form textarea:focus {
  outline: none;
  border-bottom: 1px solid #FFD700;
}

form label {
  margin-top: 15px;
  color: #ccc;
}

form button {
  margin-top: 40px;
  width: 140px;
  height: 40px;
  border: none;
  background-color: #FFD700;
  color: #1a1a1a;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

form button:hover {
  background-color: #e6c200;
}

@media screen and (max-width: 1024px) {
  .Login {
    flex-direction: column;
  }

  .Login .leftSide,
  .Login .rightSide {
    flex: 100%;
    height: 50vh;
  }

  .Login .rightSide {
    padding: 30px;
  }

  .Login .rightSide h1 {
    font-size: 40px;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .Login .rightSide h1 {
    font-size: 30px;
  }

  form input,
  form textarea {
    font-size: 14px;
  }

  form button {
    width: 100%;
    height: 45px;
  }
}
